<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div
      [ngClass]="{invalid: form.get('title')?.invalid && form.get('title')?.touched}"
      class="form-control"
    >
      <label for="title">Title</label>
      <input formControlName="title" id="title" type="text">
      <div
        *ngIf="form.get('title')?.invalid && form.get('title')?.touched"
        class="validation"
      >
        <small *ngIf="form.get('title')?.errors?.['required']">title field cant be empty</small>

      </div>
    </div>

    <div class="form-control">
      <quill-editor formControlName="text"></quill-editor>
    </div>

    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="form.invalid || submitted"
    >Update</button>
  </form>

</div>

<ng-template #loading>
  <p class="text-center">Loading</p>
</ng-template>
